@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #000;
}


@media screen and (min-width:320px) {
    .col-sm-3 {
        margin: 6px 0px 3px 0px;
        padding: 0px;
    }
    .container {
        width: 95%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        margin: 15% auto 0px auto;
        background-color: #fff;
        border-radius: 20px;

    }
    .container h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .display {
        width: 100%;
        height: 50px;
        font-size: 2rem;
        text-align: right;
    }
    .btn-container {
        display: flex;
        margin-top: 10px;
    }
    .btn {
        border: none;
        padding: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-color: rgb(65, 60, 60);
        color: rgb(251, 255, 0);
        cursor: pointer;
        border-radius: 20px;
        font-size: 1.2rem;
        width: 45px;
        margin-left: 20px;
    }
    .btn:hover {
        background-color: rgb(138, 121, 121);
    }
    .navigation {
        opacity: 1;
    }
} 

@media screen and (min-width:576px) {
    .btn {
        padding: 20px;
        width: 90%;
        margin-left: 10px;
    }
    .btn-container {
        display: block;
    }
    .container {
        width: 50%;
        margin-top: 9%;
    }
}
