@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #000;
}


@media screen and (min-width:350px) {
    .btn-return-home {
        width: 40%;
        height: 30px;
        margin: 0 auto;
        padding: 16px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border-radius:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }
    .col-sm-3 {
        margin: 6px 0px 3px 0px;
        padding: 0px;
    }
    .container {
        width: 50%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        margin: 30px auto;
        background-color: #fff;
        border-radius: 20px;

    }
    .container h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .display {
        width: 100%;
        height: 50px;
        font-size: 2rem;
        text-align: right;
    }
    .btn-container {
        margin-left: 20px;
        
    }
    .btn {
        border: none;
        padding: 20px;
        box-sizing: border-box;
        background-color: rgb(65, 60, 60);
        color: rgb(251, 255, 0);
        cursor: pointer;
        border-radius: 20px;
        font-size: 1.2rem;
        width: 90%;
    }
    .btn:hover {
        background-color: rgb(138, 121, 121);
    }
}
